<html>
<head>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>
<h1>Application: Staticpage#contact</h1>

<p>
	<h4>Name</h4> &nbsp;&nbsp;&nbsp;&nbsp; Muhammad Usman 
</p>
<p>
	<h4>Designation</h4>&nbsp;&nbsp;&nbsp;&nbsp; Software Engineer 
</p>
<p>
	<h4>Studies</h4>&nbsp;&nbsp;&nbsp;&nbsp; BS Computer Science
</p>
<p>
	<h4>Email</h4>&nbsp;&nbsp;&nbsp;&nbsp; muhammad.usman@tkxel.com 
</p>

</body>
</html>